#score {
  margin: 12px 0;
  position: relative;
}

.score-point {
  padding: 12px 0 0 0;
}

.score-point .label {
  font-size: 12px;
  padding: 0 4px 4px 0;
}

.score-point .value {
  font-size: 30px;
  text-align: end;
  font-weight: 600;
}

/* 幻灯片 */
.score-stack {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px 10px #fffbe6;
  background: #fffbe6;
}

.score-stack .cover {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
}

.score-stack .score {
  padding: 0 0 0 12px;
  font-size: 30px;
}

.score-stack .quote {
  font-size: 14px;
  padding: 12px 0 0 12px;
}