.cell {
  width: 60px;
  height: 60px;
  border: 1px solid red;
  box-sizing: border-box;

  position: absolute;
  transition: all 300ms ease-in-out;
}

.cell-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  transition: all 300ms ease-in-out;
}

.cell-value {
  font-size: 20px;
}

.cell-id {
  font-size: 12px;
}
