#header {
  position: relative;
  margin: 16px 16px 2px 16px;
  height: 32px;
}

.header-title {
  position: absolute;
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

#helper-entrance {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 2px;
}
