#gameboard {
  width: 600px;
  height: 600px;
  overflow: hidden;
  outline: 1px solid black;

  position: relative;
}

.item-enter,
.item-appear {
  top: calc(var(--top) - 600px);
  opacity: 0;
}
/* .item-appear-active {
  transition: all 100ms ease;
}
.item-enter-active {
  transition: all 100ms ease;
} */
.item-enter-done,
.item-appear-done {
  top: var(--top);
  position: absolute;
  transition: all 300ms ease;
  z-index: 99;
}
.item-exit {
  opacity: 0;
  z-index: 1;
}
.item-exit-active,
.item-exit-done {
  opacity: 0;
}
