#gameboard {
  width: 600px;
  height: 600px;
  outline: 1px solid black;

  position: relative;
}

.item-enter {
  top: -100px;
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  top: var(--top);
  transition: all 500ms ease;
}
.item-enter-done,
.item-appear-done {
  top: var(--top);
  position: absolute;
}
.item-exit {
  top: var(--top);
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: all 500ms ease;
}
