@media screen and (max-width: 769px) {
  #gameboard {
    --board-width: 96vw;
  }
}

@media screen and (min-width: 769px) {
  #gameboard {
    --board-width: 600px;
  }
}

#gameboard {
  overflow: hidden;
  position: relative;

  width: var(--board-width);
  height: var(--board-width);
  --cell-size: calc(var(--board-width) / var(--board-size));
}

.item-enter,
.item-appear {
  top: calc(var(--top) - 100vw);
  opacity: 0;
}
/* .item-appear-active {
  transition: all 100ms ease;
}
.item-enter-active {
  transition: all 100ms ease;
} */
.item-enter-done,
.item-appear-done {
  top: var(--top);
  position: absolute;
  transition: all 300ms ease;
  z-index: 99;
}
.item-exit {
  opacity: 0;
  z-index: 1;
}
.item-exit-active,
.item-exit-done {
  opacity: 0;
}
